.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Isso garante que o contêiner ocupe toda a altura da tela */
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #d57356;
  border-radius: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 5px;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #d57356;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #f1f1f1;
}
